@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.row{
	display: flex;
}
.spase-between{
	display: flex;
	justify-content: space-between;
}

.container{
	max-width: 1110px;
	margin: auto;
}
@media(max-width: 1110px){
	.container{
		max-width: 870px;
	}
}
@media(max-width: 890px){
	.container{
		max-width: 760px;
	}
}

.section_title{
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #333;
}
@media(max-width: 870px){
	.section_title{
		text-align: center;
	}
}


/* header */
.header{
	padding: 93px 0 240px 0;
	background: linear-gradient(to right, rgba(198, 108, 73, 0.3),rgba(198, 108, 73, 0.3)),url(img/meat.jpg);
}
.header *{
	color:#fff;
}

.top_line{
	margin-bottom: 145px;
}
.logo{
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}
.menu_item{
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	margin-left: 49px;
}
.burger{
	display: none;
}
@media(max-width: 760px){
	.top_line{
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	.logo{
		text-align: center;
		flex-basis: 30%;
	}
	.menu_list .wrapper{
		display: flex;
		flex-direction: column;
	}
	.menu_list{
		z-index: 2;
		padding: 140px 39px;
		position: absolute;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		transition: all 0.3s ease 0s;
		background: rgba(198, 108, 73, 0.9);
		text-align: center;
	}
	.menu_item{
		margin-left: 0;
		margin-bottom: 35px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.burger{
		z-index: 3;
		flex-basis: 30%;
		display: block;
		margin-left: 15px;
	}
	.burger:before, .burger>.burger_line, .burger:after{
		position: relative;
		width: 30px;
		height: 2px;
		display: block;
		content: " ";
		background: #fff;
		transform-origin: center;
		transition: all 0.3s ease 0s;
	}
	.burger:before{
		top: 9px;
	}
	.burger.active:before{
		transform: rotate(45deg);
		top: 5px;
	}
	.burger:after{
		bottom: 9px;
	}
	.burger.active:after{
		transform: rotate(-45deg);
		bottom: 0px;
	}
	.burger.active>.burger_line{
		transform: scale(0);
	}
	.menu_list.active{
		left: 0;
		top: 0;
	}
	body.active{
		overflow: hidden;
	}
}

.header_texts h1{
	font-weight: normal;
	font-size: 64px;
	line-height: 78px;
	margin-bottom: 30px;
}
.header_texts h2.subtitle{
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 106px;
}
.header_link.products{
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
}
.header_link.products:hover{
	text-decoration-line: none;
}
@media(max-width: 870px){
	.header_texts *{
		text-align: center;
	}
}


/* about */
.about{
	padding: 93px 0 115px 0;
}
.about *{
	color: #333;
}
.about .section_title{
	margin-bottom: 76px;
}
.about_text{
	text-align: justify;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
}
@media(max-width: 870px){
	.about *{
		text-align: center;
	}
}

/* products */
section.products{
	padding: 93px 0 145px 0;
	background: #fffaf2;
}
@media(max-width: 870px){
	section.products .row{
		flex-wrap: wrap;
		justify-content: center;
	}
}

section.products .section_title{
	margin-bottom: 86px;
}
.products .cow{
	max-width: 350px;
	max-height: 340px;
}
.types{
	width: 100%;
	margin-left: 104px;
	justify-content: space-around;
}
@media(max-width: 870px){
	.types{
		margin-left: 0;
		flex-wrap: wrap;
		margin-top: 20px;
	}
}
@media(max-width: 540px){
	.types{
		flex-direction: column;
		align-items: center;
	}
}

.type_list{
	margin-right: 46px;
}
@media(max-width: 870px){
	.type_list{

	}
}
.type_list .list_item{
	margin-bottom: 24px;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}
.color_item{
	margin-top: 8px;
	margin-bottom: 37px;
	width: 77px;
	height: 12px;
	content: " ";
}
.diagram{
	margin-left: 109px;
}
@media(max-width: 540px){
	.diagram{
		margin-left: 0;
	}
}

/* footer */
.footer{
	padding: 93px 0 70px 0;
}

.footer .section_title{
	margin-bottom: 51px;
}

.footer .blocks_list{
	flex-basis: 80%;
	justify-content: space-between;
}
@media(max-width: 870px){
	.footer .blocks_list{
		justify-content: space-around;
		flex-wrap: wrap;
	}
}

.footer .block{
	display: flex;
	flex-direction: column;
}
.footer_link{
	margin-bottom: 14px;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #333;
}
.footer_contact_link{
	margin-bottom: 14px;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #333;
}
.arrow_to_top{
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
@media(max-width: 540px){
	.footer_menu{
		flex-direction: column;
	}
}